// ----- VARIABLE SCSS -----
$header-height: 3rem;

// ----- Colors -----
:root {
  --first-color: #010443;
  --second-color: #ffc2c2;
  --white-color: #fff;
}

// ----- Typography Mobile Version-----
:root {
  --body-font: "Tinos", serif;
  --h1-font-size: 2.3rem;
  --h2-font-size: 2.3rem;
  --normal-font-size: 0.93rem;
  --big-font-size: 5rem;
  --smaller-font-size: 0.75rem;

  // ----- Typography Desktop Version -----
  @media screen and (min-width: 768px) {
    --h1-font-size: 4.5rem;
    --h2-font-size: 3.56rem;
    --normal-font-size: 1rem;
    --big-font-size: 10rem;
    --smaller-font-size: 0.813rem;
  }
}

// ----- Z-index -----
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

// ----- BASE -----
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: $header-height 0 0 0;
  font-family: var(--body-font);
  font-weight: initial;
  overflow: hidden;
}

h1,
h2 {
  margin: 0;
  font-weight: initial;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  font-size: var(--normal-font-size);
}
