// ----- MEDIA QUERIES -----
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .header {
    background: transparent;
  }

  .nav {
    display: grid;
    grid-template-columns: 3fr 4fr 1fr;

    &__list {
      display: flex;
    }

    &__item {
      margin-right: 5rem;
      margin-bottom: 0;
    }

    &__toggle {
      display: none;
    }
  }

  .home {
    grid-template-columns: 4fr 3fr;
    grid-template-rows: 1fr;
    height: 100vh;

    &__primary {
      justify-content: center;
    }

    &__img img {
      position: absolute;
      width: 361px;
      top: 5%;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      z-index: var(--z-normal);
    }

    &__scroll {
      color: var(--white-color);

      &::after {
        background: var(--white-color);
      }
    }

    &__year {
      writing-mode: vertical-rl;
      margin-left: 5rem;
    }
  }
}

@media screen and (min-width: 1200px) {
  .bg-grid {
    margin-left: auto;
    margin-right: auto;
  }
}
